/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

/* ================================================Nav component styles */

.nav {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 3rem 0rem;
}

.logo {
  h1 {
    font-size: 1.2rem;
    margin: 0rem;
    color: var(--White);
  }
}

.links-div {
  display: flex;
  gap: 2rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.links {
  text-decoration: none;
  color: var(--White);
}

/* ====================================== Showcase component styles */
.showCase {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  align-items: center;
  padding: 0rem 4rem;
}

.shopBtn {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-weight: 600;
    letter-spacing: 6px;
    font-size: 0.75rem;
  }
}

.shopLink {
  text-decoration: none;
  color: var(--Black);
}

.showCaseTextContainer {
  width: 80%;
}

.showCaseImage {
  width: 100%;
  display: block;
}

.showCaseText {
  h2 {
    color: var(--Black);
    font-size: 2rem;

  }

  p {
    color: var(--Dark-Gray);
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

.imgNavPositioning {
  position: relative;
}

.navBarPositioning {
  position: absolute;
  top: 0;
  left: 2rem;
}

/* ====================================== ImageGallery component styles */
.imageGallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-items: center; */
  padding: 0rem 4rem;

  .aboutImg {
    width: 100%;
  }

  h2 {
    color: var(--Black);
    font-size: 1rem;
    letter-spacing: 6px;
  }

  p {
    color: var(--Dark-Gray);
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

.aboutText {
  padding: 0rem 1rem;
  align-self: center;
}

